.button_prev {
    height: 26px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.button_next {
    height: 26px;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.button_save {
    margin-right: 10px;
}
.user_selection {
    height: 26px;
    margin-left: 5px;
    margin-right: 5px;
}
.timesheet_time_selection {
    height: 26px;
    margin-left: 5px;
    margin-right: 5px;
}
.date_selection {
    height: 26px;
    margin-left: 5px;
    margin-right: 5px;
}
.timesheet_table {
    border: 2px solid black;
}
.timesheet_th {
    text-align: center;
    width: 40px;
    padding: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-print-color-adjust: exact;
}
.timesheet_td {
    text-align: center;
    width: 40px;
    padding: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-print-color-adjust: exact;
}
.timesheet_first {
    text-align: left;
}
.timesheet_td_other {
    text-align: right;
}
.timesheet_total {
    font-weight: bold;
}
.timesheet_table_input {
    width: 40px;
    height: 25px;
    text-align: center;
    border: none;
}
.timesheet_table_input_checkbox {
    height: 16px;
    width: 16px;
}
.timesheet_table_input_bottom_border {
    border-bottom: 1px solid black;
}
.timesheet_lot_description_input {
    height: 70px;
    width: 130px;
    text-align: left;
    resize: none;
}
.timesheet_lot_number_control {
    width: 58px;
}
.timesheet_lot_number_input {
    text-align: left;
}
.timesheet_lot_number_input_text {
    text-align: right;
}
.timesheet_table_input_total {
    width: 56px;
}
.label_other_types{
    padding-left: 2px;
    padding-right: 2px;
}
.background_color_green {
    background: #00FF00 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_red {
    background: #FF0000 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_weekend {
    background: #C0C0C0 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_holiday {
    background: #FFD700 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_paternity_leave {
    background: #FFFB00 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_sickness {
    background: #FFA500 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_accident {
    background: #00FFE7 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_compensation {
    background: #00BFFF !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_public_holiday {
    background: #00FF00 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_reduction {
    background: #FF0000 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_school_workshop {
    background: #EE82EE !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.background_color_military {
    background: #9ACD32 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
